footer {
    color: #fff;
    font-size: 11px;
    text-align: center;
    font-weight: 600;
    width: 100%;
}
//====================================================================================================

//====================================================================================================
