//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Montserrat";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 92;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 549.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
  color: #000;
  font-size: 14px;

  &._lock {
    overflow: hidden;
  }
}
.mob {
  display: none;
  @media (max-width: $md4+px) {
    display: block;
  }
}

//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

.icons {
  display: flex;
  justify-content: center;
  &__item {
    padding: 0.6vw;
    width: 2.4vw;
    height: 2.4vw;
    opacity: 0.7;
    transition: opacity ease 0.3s;
    img {
      width: 100%;
    }
    &:hover {
      cursor: pointer;
      opacity: 1;
    }
  }
}

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.page {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  @media (max-width: $md4 + px) {
    overflow: auto;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    @media (max-width: $md4 + px) {
      height: auto;
    }
  }
}

.screen {
  width: 100%;
  height: 100%;
  flex: 1 0 100%;
  position: absolute;
  left: 0;
  top: 0;
  visibility: none;
  opacity: 0;
  @media (max-width: $md4 + px) {
    position: relative;
    visibility: visible;
    opacity: 1;
    &:nth-child(1) {
      height: 100%;
    }
  }
  &__photo {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  &__content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    padding: 16vh calc(8vw + 30px) 16vh calc(8vw + 30px);
    width: 100%;
    height: 100%;
    margin: 0 -1vw;
    @media (max-width: $md3 + px) {
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding: 12vh calc(5vw + 30px) 12vh calc(5vw + 30px);
    }
    @media (max-width: $md4 + px) {
      padding: 30px 4vw;
      margin: 0;
      align-items: flex-end;
    }
  }

  &__body {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 1;
  }

  &__title {
    color: #e7e7e7;
    font-size: 2.5vw;
    font-weight: 800;
    line-height: 1.25;
    margin-bottom: 2.5vh;
    @media (max-width: $md3 + px) {
      font-size: 24px;
    }
    @media (max-width: $md4 + px) {
      font-size: 21px;
      font-weight: 600;
    }
    &-bg {
      margin: 0;
      color: #e7e7e7;
      font-family: "PragmaticaMedium";
      font-size: 3.6vw;
      line-height: 1.25;
      letter-spacing: 0.69px;
      z-index: 3;

      @media (max-width: 1199px) {
        font-size: 52px;
      }
      @media (max-width: 1099px) {
        font-size: 48px;
      }
      @media (max-width: $md2 + px) {
        font-size: 42px;
      }
      @media (max-width: $md3 + px) {
        font-size: 36px;
      }
      @media (max-width: 629px) {
        font-size: 24px;
      }
      @media (max-width: $md4 + px) {
        width: 100%;
        margin-bottom: 30px;
        font-weight: 700;
        font-family: "Montserrat";
      }
    }
  }
  &__subtitle {
    color: #e7e7e7;
    opacity: 0.7;
    font-size: 1.4vw;
    font-weight: 800;
    margin-bottom: 5vh;
    @media (max-width: $md3 + px) {
      font-size: 14px;
    }
    @media (max-width: $md4 + px) {
      font-size: 12px;
    }
  }

  &__text {
    opacity: 0.9;
    color: #e7e7e7;
    font-size: 0.925vw;
    line-height: 1.75;
    margin-bottom: 3vh;
    @media (max-width: $md3 + px) {
      font-size: 11px;
    }
    @media (max-width: $md4 + px) {
      // font-size: 11px;
    }
  }

  &__image img {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  &__blur {
    position: absolute;
    left: 55vw;
    top: 22vh;
    bottom: 10vh;
    padding: 8vh 1.8vw;
    @media (max-height: 489px) {
      display: none;
    }
    @media (max-width: 1199px) {
      position: relative;
      left: 0;
      top: 0;
      width: 240px;
      padding: 50px 20px;
      background-color: rgba(255, 255, 255, 0.1);
      border: 8px solid rgba(255, 255, 255, 0.5);
    }
    @media (max-width: $md3+px) {
      position: absolute;
      height: 360px;
      left: auto;
      top: auto;
      bottom: 12vh;
      right: calc(5vw + 30px);
    }
    @media (max-width: $md4+px) {
      height: 300px;
      width: 220px;
      padding: 25px 15px;
      bottom: 0;
      right: 0;
      position: relative;
    }
  }
}

.blur-box {
  width: 100%;
  height: 100%;
  z-index: 10;
  &__title {
    opacity: 0.7;
    font-weight: 800;
    color: #e7e7e7;
    font-size: 1.7vw;
    letter-spacing: 0.22px;
    margin-bottom: 3vh;
    @media (max-width: 1199px) {
      font-size: 18px;
      margin-bottom: 20px;
    }
    @media (max-width: $md4 + px) {
      font-size: 16px;
    }
  }

  &__text {
    font-weight: 800;
    color: #e7e7e7;
    font-size: 1.7vw;
    letter-spacing: 0.22px;
    margin-bottom: 12vh;
    line-height: 1.35;
    &.-little {
      font-size: 0.9vw;
      line-height: 2;
      @media (max-width: 1199px) {
        font-size: 10px;
        margin-bottom: 0;
      }
      @media (max-width: $md4 + px) {
        font-size: 9px;
      }
    }
    @media (max-width: 1199px) {
      font-size: 18px;
      margin-bottom: 40px;
    }
    @media (max-width: $md4 + px) {
      font-size: 16px;
    }
  }
  &__subtitle {
    opacity: 0.7;
    color: #e7e7e7;
    font-size: 1.1vw;
    font-weight: 800;
    line-height: 1.5;
    margin-bottom: 3vh;
    @media (max-width: 1199px) {
      font-size: 12px;
      margin-bottom: 20px;
    }
  }
}
.banner:before,
.banner:after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  width: 90px;
  height: 0px;
  border-bottom: 1px solid #fff;
}
.banner:before {
  left: -1px;
}
.banner:after {
  right: -1px;
}

.screen-half {
  width: 36vw;
  .screen__title {
    @media (max-width: $md4 + px) {
      margin-bottom: 30px;
    }
  }
  &:nth-child(2) {
    width: 48vw;
    display: block;
    @media (max-width: $md3 + px) {
      position: absolute;
      right: 10vw;
      width: 36vw;
    }
    @media (max-width: $md4 + px) {
      display: none;
    }
    @media (max-height: 350px) {
      display: none;
    }
  }
  @media (max-width: $md4 + px) {
    width: 100%;
    text-align: center;
  }
  &__square {
    width: 22vw;
    height: 22vw;
    padding: 4vw 3vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 0.5vw solid rgba(251, 249, 247, 0.9);
    box-shadow: 0 0 10px rgba(251, 249, 247, 0.2);
    @media (max-width: $md3 + px) {
      display: none;
    }
  }
  &__rectangle {
    width: 28vw;
    height: 24vw;
    margin-left: 10vw;
    justify-content: space-between;
    border: 0.5vw solid rgba(251, 249, 247, 0.7);
    border-left: none;
    &:before,
    &:after {
      content: "";
      display: block;
      position: absolute;
      margin-left: 0;
      width: 0;
      height: 4vw;
      border-left: 0.4vw solid rgba(251, 249, 247, 0.7);
    }
    &:after {
      margin-top: 0;
    }
    &:after {
      margin-top: 19vw;
    }
  }
  &.-items {
    display: flex;
    flex-wrap: wrap;
    font-display: row;
    justify-content: space-between;
    align-content: space-between;
    width: 22vw;
    height: 22vw;
    margin-left: 4vw;
    @media (max-width: $md4 + px) {
      display: block;
      width: 100%;
      height: auto;
      margin: 0 auto;
    }
  }
  &__item {
    width: 10vw;
    height: 10vw;
    border-radius: 6%;
    box-shadow: 45px 0 32px 14px rgba(0, 0, 0, 0.2);
    font-size: 12px;
    color: #fff;
    @media (max-width: $md4 + px) {
      margin: 20px auto;
      width: 180px;
      height: auto;
      box-shadow: 25px 0 16px 7px rgba(0, 0, 0, 0.2);
      p {
        margin-top: 10px;
      }
    }
    &:nth-child(1) {
      margin-left: -1.5vw;
      margin-top: -1.5vw;
      width: 11vw;
      height: 11vw;
      box-shadow: 45px 0 32px 14px rgba(0, 0, 0, 0.3);
      @media (max-width: $md4 + px) {
        margin: 20px auto;
        width: 180px;
        height: auto;
        box-shadow: 25px 0 16px 7px rgba(0, 0, 0, 0.2);
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 6%;
    }
  }
  &__box {
    position: absolute;
    height: 24vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: -9.5vw;
    .screen__title {
      line-height: 1;
      margin-bottom: 2vw;
      margin-top: -0.5vw;
    }
    .screen__subtitle {
      font-size: 1.1vw;
      height: auto;
      font-weight: 700;
      line-height: 1.75;
      margin-bottom: 0;
      &.-active {
        opacity: 1;
        color: #fff;
        margin-left: -0.5vw;
        margin-bottom: 0.25vw;
      }
    }
  }
  &__title {
    color: rgba(251, 249, 247, 0.9);
    font-size: 1.15vw;
    font-weight: 800;
  }
  &__stick {
    width: 0.2vw;
    height: 2.5vw;
    background-color: rgba(251, 249, 247, 0.9);
    box-shadow: 0 0 10px rgba(251, 249, 247, 0.2);
  }
  &__text {
    color: rgba(251, 249, 247, 0.9);
    font-size: 1vw;
    line-height: 1.5;
    font-weight: 700;
  }
  &__icons {
    width: 22vw;
    justify-content: start;
    margin: 1.8vw 0 0 1vw;
    @media (max-width: $md3 + px) {
      display: none;
    }
  }
  &__image {
    position: absolute;
    width: 28vw;
    left: 56vw;
    bottom: 6vh;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @media (max-width: $md3 + px) {
      position: relative;
      left: 0;
      bottom: 0;
      width: auto;
    }
  }
}

.button {
  padding: 0.5vh 1.4vw;
  border: 1px solid rgb(253, 252, 252);
  box-shadow: 0 0 10px rgba(253, 252, 252, 0.2);
  border-radius: 3px;
  color: #e7e7e7;
  text-align: center;
  vertical-align: center;
  transition: background-color ease 0.2s, color ease 0.2s, border ease 0.2s;
  font-size: 0.925vw;
  &:hover {
    background-color: #e7e7e7;
    color: #000;
    border: 1px solid rgba(0, 0, 0, 0);
  }
}

.screen.-active {
  visibility: visible;
  opacity: 1;
}
.dark-bg {
  background-color: #1c1c1c;
}

.screen {
  &-main {
    @media (max-width: $md4+px) {
      padding: 98px 4vw;
      .screen__container {
      }
    }
  }
  &-properties {
    .screen__image img {
      transform: scale(-1, 1);
    }
    .button {
      display: block;
      width: 10vw;
      padding: 0;
      height: 2.2vw;
      line-height: 2.2vw;
      margin-top: 6vh;
      @media (max-width: $md3 + px) {
        width: 120px;
        height: 28px;
        margin-top: 15px;
        line-height: 28px;
        font-size: 12px;
        // font-size: 12px;
      }
      @media (max-width: $md4 + px) {
        margin: 15px auto;
      }
    }
  }
  &-catalog {
    .screen {
      &__content {
        flex-direction: column;
        justify-content: flex-start;
      }
      &__subtitle {
        width: 100%;
        margin-bottom: 5vh;
        margin-left: 3vw;
        opacity: 1;
        @media (max-width: $md3 + px) {
          margin-bottom: 20px;
          font-size: 14px;
        }
        @media (max-width: $md4 + px) {
          margin-left: 0;
        }
      }
      &__products {
        width: 100%;
      }
    }
  }
  &-contacts {
    .screen {
      &__content {
        padding: 8vh 16vw;
        @media (max-width: $md3+px) {
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
        }
        @media (max-width: $md4+px) {
          padding: 30px 4vw;
        }
        @media (max-width: 449px) {
          flex-direction: column;
          text-align: center;
        }
      }
      &__half {
        display: flex;
        flex-direction: column;
        height: 60vh;
        justify-content: space-between;
        @media (max-width: $md3+px) {
          height: 300px;
        }
        @media (max-width: 449px) {
          justify-content: start;
          align-items: flex-start;
          height: auto;
          width: 100%;
        }
      }
      &__subtitle {
        font-size: 1.6vw;
        font-weight: 600;
        opacity: 1;
        @media (max-width: $md3+px) {
          font-size: 16px;
        }
        @media (max-width: $md4+px) {
          width: 100%;

          font-size: 21px;
          font-weight: 600;
        }
      }
      &__text {
        @media (max-width: 449px) {
          width: 100%;
        }
      }
    }
    .screen-half__icons {
      margin-left: 0;
    }
  }
  &-reviews {
    @media (max-width: $md4+px) {
      .screen__content {
        height: 500px;
      }
    }
    .screen {
      &__box {
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        @media (max-width: $md4 +px) {
          height: 100%;
          justify-content: space-between;
        }
      }
    }
  }
}

.reviews {
  margin: 0 5vw;
  width: 70vw;
  display: flex;
  justify-content: space-between;
  @media (max-width: $md4 + px) {
    width: 92vw;
    margin: 0 auto;
  }
  &__item {
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__box {
    width: 20vw;
    height: 8vw;
    background-color: #fcfbfb;
    border-radius: 0.5vw;
    display: flex;
    @media (max-width: $md3 + px) {
      width: 28vw;
      height: 10vw;
    }
    @media (max-width: $md4 + px) {
      width: 240px;
      height: 80px;
      border-radius: 5px;
    }
  }
  &__image {
    flex: 0 0 33.33%;
    height: 100%;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 0.5vw 0 0 0.5vw;
    }
  }
  &__text-box {
    margin: 1.25vw;
    overflow: hidden;
    @media (max-width: $md4 + px) {
      margin: 10px;
    }
  }
  &__name {
    font-size: 1vw;
    font-weight: 800;
    color: 111;
    margin-bottom: 0.5vw;
    @media (max-width: $md3 + px) {
      font-size: 1.25vw;
      margin-bottom: 1vw;
    }
    @media (max-width: $md4 + px) {
      font-size: 11px;
      margin-bottom: 6px;
    }
  }
  &__text {
    overflow: hidden;
    font-size: 0.8vw;
    font-weight: 700;
    line-height: 1.3;
    @media (max-width: $md3 + px) {
      font-size: 1.1vw;
    }
    @media (max-width: $md4 + px) {
      font-size: 9px;
    }
  }
}

.products {
  display: flex;
  justify-content: space-between;
  padding: 0 5vw;
  @media (max-width: $md4 + px) {
    padding: 0;
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__box {
    background-color: rgba(255, 255, 255, 0.3);
    width: 15.5vw;
    border-radius: 10px;
    @media (max-width: $md3 + px) {
      width: 22vw;
    }
    @media (max-width: $md4 + px) {
      width: 180px;
    }
  }
  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 21vw;
    width: 100%;
    border-radius: 10px 10px 0 0;
    padding: 1vw;
    background-color: rgba(255, 255, 255, 0.7);
    @media (max-width: $md3 + px) {
      height: 30vw;
    }
    @media (max-width: $md4 + px) {
      height: 260px;
    }
    & img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    &.-full {
      padding: 0;
      height: 15.5vw;
      @media (max-width: $md3+px) {
        height: 22vw;
      }
      @media (max-width: $md4 +px) {
        height: 180px;
      }
      & img {
        border-radius: 10px 10px 0 0;
      }
    }
  }

  &__text-box {
    padding: 1.6vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 9.8vw;
    @media (max-width: $md4 + px) {
      height: auto;
      display: block;
      padding: 15px;
    }
  }
  &__name {
    color: #e7e7e7;
    font-size: 1vw;
    font-weight: 800;
    text-align: center;
    max-height: 3vw;
    overflow: hidden;
    flex: 1 1 auto;
    &.-little {
      font-size: 0.8vw;
      @media (max-width: $md4 + px) {
        font-size: 11px;
      }
    }
    @media (max-width: $md4 + px) {
      font-size: 12px;
      display: block;
      max-height: none;
      height: auto;
    }
  }
  &__price {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #e7e7e7;
    margin: 1vw 0;
    font-size: 1vw;
    font-weight: 800;
    @media (max-width: $md4 + px) {
      margin: 10px 0;
      font-size: 12px;
    }
    & .price {
      &__old {
        text-decoration: line-through;
        font-weight: 700;
        margin-right: 0.5vw;
        @media (max-width: $md4 + px) {
          margin-right: 5px;
        }
      }
      &__new {
        margin-left: 0.5vw;
        @media (max-width: $md4 + px) {
          margin-left: 5px;
        }
      }
    }
  }
  &__description-block {
    width: 100%;
    height: 6vw;
    overflow-y: auto;
    margin: 0.9vw 0;
    @media (max-width: $md4 + px) {
      height: 52px;
      margin: 10px 0;
    }
    &::-webkit-scrollbar {
      width: 8px;
      background-color: rgba(255, 255, 255, 0.2);
      border-radius: 2px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 2px;
      background-color: #fff;
    }
  }
  &__description {
    color: #e7e7e7;
    font-size: 0.75vw;
    line-height: 1.35;
    @media (max-width: $md4 + px) {
      font-size: 10px;
    }
  }
  &__button {
    width: 9vw;
    height: 2vw;
    line-height: 2vw;
    padding: 0;
    margin: 0 auto;
    @media (max-width: $md4 + px) {
      display: inline-block;
      width: 100%;
      height: 28px;
      line-height: 28px;
      font-size: 12px;
    }
  }

  &.-accessories {
    & .products {
      &__text-box {
        height: auto;
      }
      &__name {
        max-height: 3.3vw;
        overflow: hidden;
        font-size: 0.85vw;
        line-height: 1.375;
        @media (max-width: $md4 + px) {
          max-height: none;
          height: auto;
          font-size: 12px;
        }
      }
    }
  }
}

.-tabs {
  &-item {
    font-size: 1.4vw;
    background: none;
    opacity: 0.7;
    color: #e7e7e7;
    @media (max-width: $md2 + px) {
      font-size: 16px;
    }
    @media (max-width: $md3 + px) {
      font-size: 15px;
    }
    @media (max-width: $md4 + px) {
      // font-size: 12px;
    }
    &.-active {
      color: #fff;
      opacity: 1;
      font-weight: 700;
    }
  }
  &-block {
    display: none;
    &.-active {
      display: flex;
    }
  }
}

.form {
  border-radius: 5vw;
  @media (max-width: 449px) {
    width: 200px;
    margin: 0 auto;
    text-align: left;
  }
  &__item {
    margin-bottom: 5vh;
    @media (max-width: $md3+px) {
      margin-bottom: 20px;
    }
  }
  &__label {
    display: block;
    font-size: 0.8vw;
    margin-bottom: 1vh;
    opacity: 1;
    @media (max-width: $md3+px) {
      font-size: 9px;
    }
  }
  &__input {
    display: block;
    width: 20vw;
    height: 2.4vw;
    background-color: rgba(252, 251, 251, 0.05);
    border: 0.1vw solid rgba(252, 251, 251, 0.3);
    border-radius: 3px;
    padding: 0.5vw 1vw;
    font-size: 0.9vw;
    font-weight: 600;
    color: #fff;
    opacity: 1;
    @media (max-width: $md3 + px) {
      width: 180px;
      height: 28px;
      font-size: 11px;
    }
    @media (max-width: 449px) {
      width: 100%;
    }
  }
  &__button {
    width: 10vw;
    height: 2.4vw;
    background-color: rgba(0, 0, 0, 0);
    font-size: 0.75vw;
    text-align: left;
    box-shadow: none;
    @media (max-width: $md3 + px) {
      width: 110px;
      height: 28px;
      font-size: 10px;
    }
    span {
      display: inline-block;
      margin-left: 0.8vw;
      width: 1.8vw;
      height: 0.52vw;
      margin-top: 0.25vw;
      background: url("../img/icons/right_arrow.png") center / cover;
      @media (max-width: $md3 + px) {
        width: 22px;
        height: 7px;
      }
    }
    &:hover {
      span {
        background: url("../img/icons/b_right_arrow.png") center / cover;
      }
    }
  }

  &-black {
    .form {
      &__input {
        background-color: rgba(0, 0, 0, 0.03);
        border: 1px solid rgba(0, 0, 0, 1);
        color: #000;
        width: 100%;
      }
      &__button {
        font-weight: 700;
        color: #000;
        border: 1px solid #131313;
        span {
          background: url("../img/icons/b_right_arrow.png") center / cover;
        }
        &:hover span {
          background: url("../img/icons/right_arrow.png") center / cover;
        }
        &:hover {
          background-color: #111;
          color: #fff;
          border: 1px solid rgba(0, 0, 0, 1);
        }
      }
    }
  }
}
.catalog-slick {
  width: 100px;
  display: flex;
  justify-content: space-between;
}

// sliders
.slick-products {
  > .slick-arrow {
    position: absolute;
    font-size: 0;
    width: 1.5vw;
    height: 2vw;
    z-index: 5;
    top: calc(50% - 2vw);
    @media (max-width: $md4 + px) {
      width: 20px;
      height: 30px;
      top: calc(50% - 15px);
    }
    &.slick-prev {
      background: url("../img/icons/p-left.svg") center / cover;
      left: 2vw;
      @media (max-width: $md4 + px) {
        left: 15px;
      }
    }
    &.slick-next {
      right: 2vw;
      background: url("../img/icons/p-right.svg") center / cover;
      @media (max-width: $md4 + px) {
        right: 15px;
      }
    }
    &.slick-disabled {
      opacity: 0.3;
      cursor: auto;
    }
  }
}
.slick-accessories {
  > .slick-arrow {
    position: absolute;
    font-size: 0;
    width: 1.5vw;
    height: 2vw;
    z-index: 5;
    &.slick-prev {
      background: url("../img/icons/p-left.svg") center / cover;
      margin-left: -12vw;
    }
    &.slick-next {
      margin-right: -12vw;
      background: url("../img/icons/p-right.svg") center / cover;
    }
  }
}
.slick-reviews {
  > .slick-arrow {
    position: absolute;
    font-size: 0;
    width: 1.5vw;
    height: 2vw;
    z-index: 5;
    margin-top: 3vw;
    @media (max-width: $md4 + px) {
      width: 20px;
      height: 20px;
      top: calc(50% - 10px);
    }
    &.slick-prev {
      background: url("../img/icons/p-left.svg") center / cover;
      margin-left: -3vw;
      @media (max-width: $md4 + px) {
        position: absolute;
        left: calc(50% - 150px);
        margin: 0;
      }
    }
    &.slick-next {
      margin-left: 72vw;
      background: url("../img/icons/p-right.svg") center / cover;
      @media (max-width: $md4 + px) {
        position: absolute;
        margin: 0;
        right: calc(50% - 150px);
      }
    }
  }
}
.slick-reviews2 {
  width: 100%;
  height: 100%;
}
.reviews2__text {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
  width: 28vw;
  height: 30vh;
  margin: 10vw 0 0 12vw;
  @media (max-width: $md2+px) {
    width: 40vw;
    height: 40vh;
  }
  @media (max-width: $md3+px) {
    margin: 12vw 0 0 12vw;
  }
  @media (max-width: $md4+px) {
    position: absolute;
    width: 90vw;
    margin: 200px 5vw 0;
    max-height: 200px;
    overflow: hidden;
  }
  .screen {
    &__subtitle {
      color: #fff;
      opacity: 0.9;
      text-align: center;
      @media (max-width: $md2+px) {
        font-size: 16px;
        margin-bottom: 20px;
      }
      @media (max-width: $md2+px) {
        font-size: 14px;
        margin-bottom: 15px;
      }
    }
    &__text {
      text-align: center;
      color: #fff;
      opacity: 1;
      @media (max-width: $md2+px) {
        font-size: 12px;
      }
      @media (max-width: $md4+px) {
        font-size: 11px;
      }
    }
  }
}

.line {
  display: block;
  width: 0.2vw;
  height: 60vh;
  background-image: radial-gradient(circle 30vh at center, #dbddd7 0%, #302a38 75%, rgba(255, 255, 255, 0) 100%);
  @media (max-width: $md3 +px) {
    display: none;
  }
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
  max-width: $maxWidthContainer + vw;
  margin: 0 auto;
  // @media (max-width: $md1+px) {
  //   max-width: 970px;
  // }
  // @media (max-width: $md2+px) {
  //   max-width: 750px;
  // }
  // @media (max-width: $md3+px) {
  //   max-width: none;
  //   padding: 0 10px;
  // }
}

//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "sidebar";
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
@import "popup";
@import "header";
@import "footer";
@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
  flex: 1 1 auto;
}

//===================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================
